.display{
    height: 100%;
    overflow: hidden;
}

#main-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px; /* Match outer-arch height */
    overflow: hidden;
    margin-top: 20px;
}

#outer-arch {
    position: relative;
    border-radius: 50%;
    background-color: red;
    width: 37.25%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#inner-arch {
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    width: 78%;
    height: 406px;
}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
    transform-origin: 50% 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust transparency */
}

/* Define each slice rotation */
.slice:nth-child(1) {
    transform: rotate(0deg);
    background-color: rgba(255, 0, 0, 0.5); /* Example color */
}

.slice:nth-child(2) {
    transform: rotate(60deg);
    background-color: rgba(0, 255, 0, 0.5);
}

.slice:nth-child(3) {
    transform: rotate(120deg);
    background-color: rgba(0, 0, 255, 0.5);
}

.slice:nth-child(4) {
    transform: rotate(180deg);
    background-color: rgba(255, 255, 0, 0.5);
}

.slice:nth-child(5) {
    transform: rotate(240deg);
    background-color: rgba(0, 255, 255, 0.5);
}

.slice:nth-child(6) {
    transform: rotate(300deg);
    background-color: rgba(255, 0, 255, 0.5);
}


#sobh{
    position: absolute;
    top: 15px;
    left: 20px;
}
#dhohr{
    position: absolute;
    top: 30px;
    left: 20px;
}
#asr{
    position: absolute;
    top: 35px;
    left: 25px;
}
#maghrib{
    position: absolute;
    top: 38px;
    left: 30px;
}
#isha{
    position: absolute;
    top: 20x;
    left: 40px;
}

marquee span {
    margin-right: 60px;
}